<div class="inventory-main">
  <div *ngIf="subpage=='categories'" class="categories-page">
    <app-manage-categories [subpage]=""></app-manage-categories>
  </div>
  <div *ngIf="subpage=='' || subpage==null" class="overview-page">
    <app-overlay-dailog
      [isOpen]="isDialogOpen"
      (addTheProduct)="addProduct($event)"
      (closeTheDialogue)="closeDialog($event)"
    ></app-overlay-dailog>

    <app-overlay-edit-products
      [isOpen]="isEditProductOpen"
      [formData]="selected_product"
      (saveTheProduct)="saveProduct($event)"
      (saveAsNewProduct)="saveAsNew($event)"
      (deleteTheProd)="deleteProduct($event)"
      (closeTheDialogue)="closeEditDialog($event)"
    >
    </app-overlay-edit-products>

    <div class="overview-main">
      <div class="heading">
        <h3 [innerHTML]="isFilterSelected ? 'Filter by ' : 'Overall Inventory'">
          Overall Inventory
        </h3>
      </div>

      <div *ngIf="!isFilterSelected" class="overview-cards-container">
        <div
          [routerLink]="['/dashboard/inventory', card.to]"
          [style]="
            'background:linear-gradient(270deg,' +
            card.color +
            ',' +
            card.color +
            'bf)'
          "
          *ngFor="let card of inventoryOverviewCards"
          class="overview-card"
        >
          <div class="info-heading">
            <div [style]="'color:' + 'white'" class="title">
              {{ card.title }}
            </div>
            <div class="icon">
              <img [src]="card.icon" alt="cats" />
            </div>
          </div>
          <div class="info-desc-container">
            <div *ngFor="let info of card.info" class="info-desc">
              <span class="value">
                {{ info.value }}
              </span>
              <span>
                {{ info.type }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="all-filters-container">
        <div *ngIf="isFilterSelected" class="form-list">
          <div *ngFor="let x of tempProductModel" class="form-input-container">
            <div class="input">
              <mat-form-field class="example-form-field">
                <mat-label>{{ x.title }}</mat-label>

                <input
                  required
                  *ngIf="x.type != 'select'"
                  matInput
                  (input)="filterProducts($event, x.key)"
                  [type]="x.type"
                  [(ngModel)]="temp_data[x.key]"
                />
                <span
                  matSuffix
                  *ngIf="temp_data[x.key] != '' && x.type == 'text'"
                  (click)="temp_data[x.key] = ''"
                >
                  <img
                    src="../../../assets/close-icon-dark.svg"
                    width="16px"
                    height="16px"
                    alt=""
                  />
                </span>

                <input
                  *ngIf="x.type == 'select'"
                  type="text"
                  placeholder="Pick one"
                  aria-label="x.title"
                  matInput
                  (change)="(filterProducts)"
                  [(ngModel)]="temp_data[x.key]"
                  [matAutocomplete]="auto"
                  (input)="filterOptions($event, x)"
                />

                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of filtered_options[x.key]"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="form-input-container">
            <div class="input">
              <span
                (click)="moreFilters()"
                [ngClass]="show_moreFilters ? 'hint red' : 'hint'"
                [innerHTML]="
                  show_moreFilters ? 'show basic filters' : 'show more filters'
                "
              >
                show more filters
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="all-products-container">
      <div class="products-table">
        <div class="table-header-container">
          <div class="heading">
            <h3>All Products</h3>
          </div>
          <div class="actions-container">
            <div class="action-btn">
              <mat-form-field>
                <mat-label>Warehouse</mat-label>
                <mat-select required value="Western Hills">
                  <mat-option value="Western Hills">Western Hills</mat-option>
                  <!-- <option value="Western Hills">Western Hills</option> -->
                </mat-select>
              </mat-form-field>
            </div>
            <div (click)="openDialog()" class="action-btn add">
              <div class="icon">
                <img src="../../../assets/add-plus-icon.svg" alt="" />
              </div>
              <div class="btn-name">Add Products</div>
            </div>
            <div
              [ngClass]="
                isFilterSelected
                  ? 'action-btn filter opened'
                  : 'action-btn filter'
              "
            >
              <div
                (click)="filterToggle()"
                [ngClass]="isFilterSelected ? 'icon opened' : 'icon'"
              >
                <img src="../../../assets/Filters-lines-icon.svg" alt="" />
              </div>
              <div
                (click)="filterToggle()"
                class="btn-name"
                [innerHTML]="isFilterSelected ? 'Close Filters' : 'Filters'"
              >
                Filter
              </div>
            </div>
          </div>
        </div>

        <div class="table-body">
          <table *ngIf="length > 0">
            <tbody>
              <tr>
                <th>id</th>
                <th
                  [style]="isFilterSelected ? 'backgroundColor: #edeaff;' : ''"
                  *ngFor="let h of basicProdItems"
                >
                  <span>{{ h }}</span>
                  <span *ngIf="false && h != 'thumb' && h != 'alert'">
                    <mat-form-field class="example-form-field">
                      <mat-label>{{ h }}</mat-label>
                      <div>
                        <input
                          (input)="filterProducts($event, h)"
                          matInput
                          [type]="'text'"
                          [(ngModel)]="filters[h]"
                        />
                        <span
                          mat-suffiX
                          *ngIf="filters[h] != ''"
                          (click)="filters[h] = ''"
                        >
                          <img
                            src="../../../assets/close-icon-dark.svg"
                            width="16px"
                            height="16px"
                            alt="X"
                          />
                        </span>
                      </div>
                    </mat-form-field>
                  </span>
                </th>
              </tr>
              <tr
                (click)="editProduct(products[i], i)"
                *ngFor="let i of range(pageIndex, pageSize)"
              >
                <td>{{ i + 1 }}</td>
                <td *ngFor="let h of basicProdItems">
                  <span *ngIf="h != 'thumb' && h != 'price'">{{
                    products[i][h]
                  }}</span>
                  <span *ngIf="h == 'price'">₹{{ products[i][h] }}</span>
                  <span class="thumbnail-holder" *ngIf="h == 'thumb'">
                    <img [src]="products[i][h]" alt="thumb" />
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="empty" *ngIf="length == 0">
            <iframe
              src="https://lottie.host/?file=4d348bde-596a-4f4d-a233-43d7ea44a904/Us30SKrlTh.json"
            ></iframe>
            <span>
              Your Inventory is Empty.
              <i (click)="openDialog()">Add Products</i></span
            >
          </div>
          <mat-paginator
            [length]="length"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            aria-label="Select page"
            (page)="handlePageEvent($event)"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
