<div class="manage-users-main">
    <div class="customers-container">
        <div class="header-title">
            <div class="left">
                <h3>Customers</h3>
            </div>
            <div class="right">
                <div class="add-user-btn">
                    + Add New User
                </div>
            </div>
        </div>
        <div class="customers-table-holder">
            <div class="customer-table">
                <div class="table-row">
                    <div class="table-data th">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="staff-container">

    </div>
</div>
