<div id="print-section" class="overview-main">
  <div class="overview-container">
    <div class="heading-container">
      <div class="welcome-note">
        <span>Welcome User</span>
      </div>
      <div class="overview-date">
        <span>Your Overview Start for Today, Thu Sep 14 2023 </span>
      </div>
    </div>

    <div class="right-actions-container">
      <div (click)="refresh()" class="refresh">
        <img src="../../../assets/refresh-icon.svg" alt="refresh icon" />
        <span>Refresh</span>
      </div>
      <button  styleSheetFile="./overview.component.scss" (click)="printPage()" class="refresh save">
        <img src="../../../assets/save-icon.svg" alt="save-icon" />
        <span>Print</span>
      </button>
    </div>
  </div>

  <div class="stats-main">
    <div *ngFor="let card of statList" class="sales-stat-card" [style]="'background:'+card.gradient">
      <div class="card-top">
        <div class="left">
            <div class="stat-icon">
              <img [src]="card.icon" alt="" />
            </div>
            <div class="stat-title">
              <span>{{card.name}}</span>
            </div>

        </div>

        <div class="select-element">
          
          <select name="" id="" placeholder="select interval">
            <option value="This week">This week</option>
            <option value="This month">This month</option>
            <option value="Quarterly">Quarterly</option>
            <option value="6 months">6 months</option>
            <option value="Last Year">Last Year</option>
          </select>
        </div>
      </div>
      <div class="card-bottom">
        <div class="sales-value">
          <span>{{card.value}}</span>
        </div>
        <div [style]="card.avg>0 ?'background:#009C41':'background:#F12711'" class="growth-section">
          <img [style]="card.avg>0 ?'':'transform:rotate(90deg)'"  src="../../../assets/growth-icon.svg" alt="" />
          <span [innerHTML]="card.avg>0 ? '+'+card.avg+'%':''+card.avg+'%'" >{{card.avg}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="stats-analytics">
    <div class="col-2-container">
      <div class="sales-revenue-chart">
        <div class="sub-header">
          <div class="title">
            <h3>Sales & Revenue</h3>
          </div>
          <div class="right">
            <div class="select-btn-container"></div>
          </div>
        </div>
        <div class="body">
          <app-line-graph></app-line-graph>
        </div>
      </div>
    </div>
    <div class="col-1-container">
      <div class="top-categories">
        <div class="sub-header">
          <div class="title">
            <h3>Top Selling Categories</h3>
          </div>
          <div class="body">
            <app-hor-bar-graph></app-hor-bar-graph>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2-container">
       <app-table></app-table> 
    </div>
    <div class="col-1-container">
       <app-top-selling-products></app-top-selling-products>
    </div>
  </div>

  

</div>
