<div class="overview-main">
    <div class="overview-container">
        <div class="heading-container">
            <div class="welcome-note">
                <span>Welcome User</span>
            </div>
            <div class="overview-date">
                <span>Your Overview Start for Today, Thu Sep 14 2023 </span>
            </div>
        </div>

        <div class="right-actions-container">
            <div class="refresh">
                <img src="../../../assets/refresh-icon.svg" alt="refresh icon">
                <span>Refresh</span>
            </div>
            <div class="refresh save">
                <img src="../../../assets/save-icon.svg" alt="save-icon">
                <span>Save</span>
            </div>
        </div>
    </div>

    <div class="stats-main">
        <div class="sales-stat-card">
           <div class="card-top">
                <div class="stat-icon">
                    <img src="../../../assets/sales-stat.svg" alt="">
                </div>
                <div class="stat-title">
                    <span>Total Sales</span>
                </div>

                <div class="select-element">
                    <!-- <p>select interval</p>
                    <span>This month</span> -->
                </div>
           </div>
           <div class="card-bottom">
            <div class="sales-vale">
                <img src="../../../assets/rupee-icon.svg" alt="">
                <span>2,43,560</span>
            </div>
            <div class="growth-section">
                <img src="../../../assets/growth-icon.svg" alt="">
                <span>+7.15%</span>
            </div>
           </div>
        </div>
    </div>

</div>