main {
  width: 100%;
  height: 100vh;
  background-repeat: repeat-x;
  background-image: url("../../../assets/img/check-bg.jpg");
  background-image: url("../../../assets/login-bg.jpg");
  background-size: cover;

  > div.login-main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    div.blur-layer {
      width: 100%;
      height: 100%;
      background: rgba(10, 1, 14, 0.65);
      position: absolute;
      top: 0;
      left: 0;
      //   backdrop-filter: blur(2px);
    }
    > div.login-card-container {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 55vw;
      box-sizing: border-box;
      border-radius: 26px 16px 25px 16px;
      background: rgba(217, 217, 217, 0.15);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      > div.left-image-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        padding: 2rem;
        box-sizing: border-box;
        border-radius: 25px 0px 0px 16px;
        background: #180630;
        > div.logo-container {
          > img {
            width: 100%;
            height: auto;
          }
        }
      }
      > div.right-form-holder {
        display: flex;
        flex-direction: column;
        width: 25vw;
        box-sizing: border-box;
        > div.portal-header {
          border-radius: 0px 16px 0px 0px;
          background: #f1cc01;
          color: #150e2c;
          font-family: "Sen", sans-serif;
          font-size: 1.25rem;
          padding: 1rem;
          text-align: center;
          box-sizing: border-box;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          width: 100%;
        }
        > div.svg-holder {
          width: 100%;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 1.25rem;
          > div.svg {
            > img {
              width: 6rem;
              height: 6rem;
              border-radius: 50%;
            }
          }
        }
        > div.form-holder {
          display: flex;
          flex-direction: column;
          padding: 0 1.25rem;
          box-sizing: border-box;
          > div.input-container {
            width: 100%;
            background-color: #fff;
            border-radius: 4rem;
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin: 1rem 0;
            > div.icon-holder {
              padding: 1rem;
              cursor: pointer;
              > img {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
            > div.input {

              > input {
                padding: 1rem;
                font-size: 1rem;
                color: #6d489c;
                font-family: "Sen", sans-serif;
                border: none;
                outline: none;
              }
            }
          }

          > div.login-btn-holder {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            padding: 1.25rem 0;
            > span.login-btn {
              display: inline-block;
              padding: 1.25rem;
              border-radius: 4rem;
              background: #f1cc01;
             cursor: pointer;
              color: #150e2c;
              font-family: "Sen", sans-serif;
              font-size: 1rem;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

          div.helper-link {
            > p {
                font-size: .875rem;
                font-family: "Sen",sans-serif;
                text-align: center;
                color:#dfdfdf;
                cursor: pointer;
            }

            > p:hover {
                font-size: .875rem;
                font-family: "Sen",sans-serif;
                text-align: center;
                color:#f1cc01;
                text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
