<div class="table-container">
  <div class="table-main">
    <div class="sub-header">
      <div class="title">
        <h3>Recent Orders</h3>
      </div>
      <div class="right">
        <div class="select-btn-container">
            view all
        </div>
      </div>
    </div>
    <div class="table-body">
      <table>
        <tbody>
          <tr >
            <th>No.</th>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Amount</th>
            <th>Orders</th>
            <th>Status</th>
          </tr>
          <tr *ngFor="let p of recentOrders; let i=index;">
            <td>{{i+1}}</td>
            <td>
              <div class="product-info">
                <span>
                  <img [src]="p.imgUrl" alt="" />
                </span>
                <span>
                  <span> {{p.collection}}</span>
                  <span class="sku">#{{p.sku}}</span>
                </span>
              </div>
            </td>
            <td>
                <span class="date" [innerHTML]="getDate(p.date)"></span>
            </td>
            <!-- <td>{{p.date}}</td> -->
            <td>{{p.amount}}</td>
            <td>{{p.orders}}</td>
            <td>
                <span class="status fulfill">
                    {{p.status}}
                </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="table-footer">
    <mat-paginator
      [length]="100"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
